/*#region body*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*#endregion body*/

/*#region header*/
.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.uper-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-part {
    color: #2E2F42;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-item {

}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-item {
    
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}
/*#endregion header*/


/*#region hero*/

.title {
    background-color: #2E2F42;
    text-align: center;

    
}
.page-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    }

.push {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
} 

.push:hover,
.push:focus {
    background-color: #404BBF;
}

/*#endregion hero*/

/*#region features*/
.features {

}

.features-list {

}

.features-point {

}

.features-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*#endregion features*/

/*#region team*/

.team {
    color: #2E2F42;
    background-color: #F4F4FD;
}

.people {
    color: #2E2F42;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    background-color: #F4F4FD;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.people-list {
    background-color: #FFFFFF;
}

.people-title {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.people-job {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*#endregion team*/

/*#region portfolio*/

.portfolio {
    color: #2E2F42;
}

.portfolio-title {
    text-align: center;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.portfolio-list {
    
}

.portfolio-list-item {
    
}

.portfolio-list-text {
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-text {
    color: #434455; 
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*#endregion portfolio*/

/*#region footer*/

.footer {
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
}

.web {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/*#endregion footer*/